.backdrop{
     position: fixed;
     top: 0px;
     bottom: 0px;
     left: 0px;
     right: 0px;
     background-color: rgba(0,0,0,0.3);
     padding: 50px;
}
 .modal{
     background-color: #fff;
     border-radius: 5px;
     max-width: 500px;
     min-height: 300px;
     margin: 0 auto;
     padding: 30px;
}
.modal-head {
  width: 100%;
  height:10%;
  background-color: #f4f4f4;
}
.helvetica {
    font-family: 'helvetica neue', helvetica, sans-serif;
}
.outline {
    outline: 1px solid;
}

.icon {
    position:relative;
    max-width: 50px;
}
.logo-green-bg {
  background-color: rgba(224, 247, 238, 1);
}
.near-logo-green-bg {
  background-color: rgba(224, 247, 238, .5);
}
.logo-blue-bg {
  background-color: rgba(219, 242, 248, 1);
}
.near-logo-blue-bg {
  background-color: rgba(219, 242, 248, .5);
}
.logo-green {
   color: rgba(224, 247, 238, 1);
}
.logo-blue {
  color: rgba(219, 242, 248, 1);
}
.foot-icon {
    max-width: 30px;
}
.space {
  position: relative;
    display: block;
    max-width: 625px;
}
.aspect-ratio {
    height: 0;
    position: relative;
}

.aspect-ratio--4x6 {
    padding-bottom: 150%;
}

.aspect-ratio--object {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}
body {
  margin: 0px;
  padding:0px;
  height: 100%;
  position: relative;
}
.sticky {
  position: fixed;
  top: 0;
  overflow: hidden;
  width: 100%
}
.sticky-footer {
  position: static;
  bottom: 0;
  overflow: hidden;
  width: 100%
}
.wrkshopImg {
  max-width: 300px;

}
.gearImg {
  max-height: 500px;

}
.eventImg {
  max-width: 45rem;
}
 .outline {
     outline: 1px solid;
}
.col{
  display: flex;
  flex-wrap:wrap
}
 .cf:before, .cf:after {
     content: " ";
     display: table;
}
 .cf:after {
     clear: both;
}
 .cf {
     *zoom: 1;
}
 .flex {
     display: flex;
}
.mw8 {
    max-width: 64rem;
}
.w-33 {
    width: 33%;
}
.w-25 {
    width: 25%;
}
.w-33-l {
        width: 33%;
    }
.w-50 {
    width: 50%;
}
.w-75 {
    width: 75%;
}
.w-67 {
  width: 67%;
}
.w-33 {
  width: 33%;
}
.w-80 {
  width: 80%;
}
.w-90 {
  width: 90%;
}
.pr2-l {
        padding-right: .5rem;
    }
    .pr3 {
      padding-right:5rem;
    }
    .pr4 {
      padding-right: .75rem;
    }
    .pr2 {
    padding-right: .5rem;
}
.pt3 {
    padding-top: 1rem;
}
.pt4 {
    padding-top: 2rem;
}
.pt6 {
    padding-top: 6rem;
}
.mv5 {
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.w-third {
    width: calc(100% / 3);
}
 .fw1 {
     font-weight: 100;
}
 .lh-title {
     line-height: 1.25;
}
 .lh-copy {
     line-height: 1.5;
}
 .pv4 {
     padding-top: 2rem;
     padding-bottom: 2rem;
}
 .mw7 {
     max-width: 48rem;
}
 .flex-column {
     flex-direction: column;
}
.justify-center{
  justify-content: center;
}
.alc{
  align-items: center;
}
.flex-row {
    flex-direction: row;
}
 .baskerville {
     font-family: baskerville, serif;
}
 .bb {
     border-bottom-style: solid;
     border-bottom-width: 1px;
}

 .br2 {
     border-radius: .25rem;
}
 .br--top {
     border-bottom-left-radius: 0;
     border-bottom-right-radius: 0;
}
 .ba {
     border-style: solid;
     border-width: 1px;
}
 .br-pill {
     border-radius: 9999px;
}
 .bw1 {
     border-width: .125rem;
}
 .fr {
     float: right;
}
 .fl {
     float: left;
     _display: inline;
}
 .bw2 {
     border-width: .25rem;
}
 .b--black-10 {
     border-color: rgba(0, 0, 0, .1);
}
.b--black-40 {
    border-color: rgba(0, 0, 0, .4);
}
 .near-black {
     color: #111;
}
 .no-underline {
     text-decoration: none !important;

}
::selection{
  text-decoration: none !important;
  background: rgba(0,0,0,0);
}
 .pv5 {
     padding-top: 4rem;
     padding-bottom: 4rem;
}
.pv0 {
    padding-top: 0;
    padding-bottom: 0;
}
 .ph4 {
     padding-left: 2rem;
     padding-right: 2rem;
}
.f-home {
  padding-left: .25rem;
  line-height: -5;
  letter-spacing: -5;
  font-stretch: expanded;
}
.f-home-under {
  padding-left: .25rem;
  line-height: -10;
  letter-spacing: -2;
  font-stretch: condensed;
}
 .f3 {
     font-size: 1.5rem;
}
 .f4 {
     font-size: 1.25rem;
}
.grow {
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform .25s ease-out;
}
 .grow:hover, .grow:focus {
     transform: scale(1.05);
}
 .pv2 {
     padding-top: .5rem;
     padding-bottom: .5rem;
}
.pv3 {
    padding-top: .75rem;
    padding-bottom: .75rem;
}
 .input-reset {
     -webkit-appearance: none;
     -moz-appearance: none;
}
 .input-reset::-moz-focus-inner {
     border: 0;
     padding: 0;
}
 .bg-transparent {
     background-color: transparent;
}
.bg-near-transparent {
    opacity: .8;
}
.bg-white {
  background-color: rgb(255, 255, 255);
}
.bg-red {
  background-color: rgb(183, 7, 7);
}
.cursor{
  cursor: pointer;
}
.uploadBox {
  cursor: pointer;
  position: relative;
  display:table;
  vertical-align:middle;
  text-align:center;
  border: 1px dashed #555;
  background-color: rgba(255, 255, 255, .8);
  border-radius: 15px;
  padding: 10px 10;
  width: 110px;
  height: 110px;
  z-index: 1;
}
.uploadBoxPreview {
  height: 100px;
  display:inline-table;
  vertical-align: middle;
  flex: auto;
}
.uploadBoxPreview:hover {
  -webkit-opacity: 0.25;
  -moz-opacity: 0.25;
  opacity: 0.25;
  transition: background 0.5s ease-in-out;
}
.uploadBox:hover .uploadImgRm {
  display: block;
  transition: background 0.5s ease-in-out;
}

.uploadImgRm {
  padding-top: 7px;
	padding-right: 7px;
	position: absolute;
	right: 0;
	top: 0;
  z-index: 3;
  display: none;
}
.trashIcon {
  max-width: 12%;
}
 .measure {
     max-width: 30em;
}
.measure-wide {
    max-width: 34em;
}
.measure-narrow {
    max-width: 20em;
}
.measure-home {
  max-width: 32em;
}
 .measure-cb {
     max-width: 50em;
}
 .measure-cbh {
     min-height: 20em;
}
 .pointer:hover {
     cursor: pointer;
}
 .mb2 {
     margin-bottom: .5rem;
}
 .ph3 {
     padding-left: 1rem;
     padding-right: 1rem;
}
 .db {
     display: block;
}
 .dib {
     display: inline-block;
}
.ph3-l {
        padding-left: 1rem;
        padding-right: 1rem;
    }
 .b {
     font-weight: bold;
}
 .dt {
     display: table;
}
 .dtc {
     display: table-cell;
}
 .dt--fixed {
     table-layout: fixed;
     width: 100%;
}
 .tr {
     text-align: right;
}

 .avenir {
     font-family: 'avenir next', avenir, sans-serif;
}
.h2 {
    height: 2rem;
}
.mw6 {
    max-width: 32rem;
}

.w2 {
    width: 2rem;
}
 .fw4 {
     font-weight: 400;
}
 .fw6 {
     font-weight: 600;
}
 .tracked {
     letter-spacing: .1em;
}
 .lh-title {
     line-height: 1.25;
}
.fw7 {
    font-weight: 700;
}

.fw9 {
    font-weight: 900;
}
 .link {
     text-decoration: none;
     transition: color .15s ease-in;
}
 .link:link, .link:visited {
     transition: color .15s ease-in;
}
 .link:hover {
     transition: color .15s ease-in;
}
 .link:active {
     transition: color .15s ease-in;
}
 .link:focus {
     transition: color .15s ease-in;
     outline: 1px dotted currentColor;
}
 .mw6 {
     max-width: 40rem;
}
.mw6s {
  max-width: 32rem;
}
 .mw5 {
     max-width: 16rem;
}
 .w3 {
     width: 10rem;
}
.w8 {
    width: 30rem;
}
 .w-100 {
     width: 100%;
}
 .w-50 {
     width: 50%;
}
.w-15 {
    width: 19%;
}
.resize_fit_center {
    vertical-align: middle;
}
.v-mid {
    vertical-align: middle;
}
.v-bottom {
    vertical-align: bottom;
}
 .black-60 {
     color: rgba(0, 0, 0, .6);
}
 .bt {
     border-top-style: solid;
     border-top-width: 1px;
}
.bg-green{
  background-color: rgb(206, 239, 174);
}
 .black {
     color: #000;
}
 .blue {
     color: #408bc9;
}
 .gray {
     color: #777;
}
 .pl2 {
     padding-left: .25rem;
}
 .pb2 {
     padding-bottom: .5rem;
}
 .pa2 {
     padding: .5rem;
}
.pv6 {
    padding-top: 8.5rem;
    padding-bottom: 8.5rem;
}
 .pa3 {
     padding: 1rem;
}
.pa5 {
    padding-left: 8rem;
    padding-right: 8rem;
    padding-bottom: 8rem;
}
.plr5 {
  padding-left: 8rem;
  padding-right: 8rem;
}
.plr3 {
  padding-left: 3rem;
  padding-right: 3rem;
}
.pr0-m {
        padding-right: 0;
    }
 .pb3 {
     padding-bottom: 1.75rem;
}
.pb5 {
    padding-bottom: 4.5rem;
}
.pb6 {
    padding-bottom: 5.25rem;
}
.pb10 {
    padding-bottom: 10.75rem;
}
 .ml0 {
     margin-left: 0;
}
.ml1 {
    margin-left: 1rem;
}
.ml2 {
    margin-left: 2rem;
}
.ml5 {
    margin-left: 5rem;
}
.ml2s {
  margin-left: 2.3rem;
}
.ml3 {
    margin-left: 3rem;
}
.ml7-5 {
    margin-left: 7.5rem;
}
.ml20 {
  margin-left: 10rem;
}
 .mb0 {
     margin-bottom: 0;
}
 .mr3 {
     margin-right: 4rem;
}
.mr10 {
    margin-right: 10rem;
}
.mr2 {
    margin-right: 2.5rem;
}
.mr6 {
    margin-right: 6rem;
}
.mr5{
  margin-right: 5rem;
}
 .mr4 {
     margin-right: 2rem;
}
 .mb3 {
     margin-bottom: 1rem;
}
 .mt1 {
     margin-top: .25rem;
}
 .mt2 {
     margin-top: .75rem;
}
.mt1.8{
  margin-top: 1.8rem;
}
.mt4 {
    margin-top: 1.25rem;
}
.mb10{
  margin-bottom: 8rem;
}
.mt8 {
margin-top: 5.25rem;
}
.mt10 {
margin-top: 7.25rem;
}
.mt15 {
margin-top: 10rem;
}
.mt5 {
margin-top: 2.25rem;
}
.mt5s{
  margin-top: 2.45rem;
}
.mt6 {
  margin-top: 3.4rem;
}
.mt7{
  margin-top: 3.45rem;
}
 .mv0 {
     margin-top: 0;
     margin-bottom: 0;
}
 .mv4 {
     margin-top: 2rem;
     margin-bottom: 2rem;
}
 .ttu {
     text-transform: uppercase;
}
 .f3 {
     font-size: 1.5rem;
}
 .truncate {
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
}
.overflow-auto {
    overflow: auto;
}

.stripe-dark:nth-child(odd) {
    background-color: rgba(0, 0, 0, .1);
}

.tl {
    text-align: left;
}

 .f6 {
     font-size: .995rem;
}
.bg-black-10 {
    background-color: rgba(0, 0, 0, .1);
}
.bg-black {
    background-color: #000;
}
.bg-black-80 {
    background-color: rgba(0, 0, 0, .8);
}

.bg-black-05 {
    background-color: rgba(0, 0, 0, .05);
}
 .f1 {
     font-size: 3rem;
}
 .center {
     margin-right: auto;
     margin-left: auto;
}
 .clip {
     position: fixed !important;
     _position: absolute !important;
     clip: rect(1px 1px 1px 1px);
     clip: rect(1px, 1px, 1px, 1px);
}
 .v-top {
     vertical-align: top;
}
 .vh-100 {
     height: 100vh;
}
.h-100 {
  height: 100%;
}
.vh-80 {
    height: 80vh;
}
.vh-25 {
    height: 25vh;
}
.vh-5 {
    height: 5vh;
}
 .dim {
     opacity: 1;
     transition: opacity .15s ease-in;
}
 .dim:hover, .dim:focus {
     opacity: .5;
     transition: opacity .15s ease-in;
}
 .dim:active {
     opacity: .8;
     transition: opacity .15s ease-out;
}
 .main-nav{
     border-bottom:2px solid rgba(0,0,0,0.1);
     padding-bottom:2px;
     padding-top:2px;
     padding-left: 0;
     background-color: rgba(255, 255, 255, 0);
}
.pr2s {
  padding-right: 1rem;
}
.bg-light-gray {
    background-color: #eee;
}

  .white {
    color: #fff;
  }


.bg-near-white {
    background-color: #f4f4f4;
}
 .cover {
     background-size: cover !important;
}
.vh-75 {
    height: 75vh;
}
.vh-50 {
    height: 50vh;
}
.vh-30 {
    height: 30vh;
}
.vh-70 {
    height: 70vh;
}
 .bg-center {
     background-repeat: no-repeat;
     background-position: center center;
}
 .mb4 {
     margin-bottom: 2rem;
}
.mb5 {
    margin-bottom: 3rem;
}
@media screen and (min-width: 30em) {
    .flex-row-ns {
        flex-direction: row;
    }
    .h3-ns {
        height: 4rem;
    }

    .w3-ns {
        width: 4rem;
    }

    .f5-ns {
        font-size: 1rem;
    }
    .db-ns {
        display: block;
    }
    .pl2-ns {
        padding-left: .5rem;
    }

    .pv6-ns {
        padding-top: 8rem;
        padding-bottom: 8rem;
    }

    .w-25-ns {
        width: 25%;
    }

    .f2-ns {
        font-size: 2.25rem;
    }

    .f3-ns {
        font-size: 1.5rem;
    }

    .w-40-ns {
        width: 40%;
    }

    .w-60-ns {
        width: 60%;
    }

    .pl3-ns {
        padding-left: 1rem;
    }

    .pr3-ns {
        padding-right: 1rem;
    }

    .mb0-ns {
        margin-bottom: 0;
    }

    .w-50-ns {
        width: 50%;
    }
    .dt-ns {
        display: table;
    }

    .dtc-ns {
        display: table-cell;
    }

    .dt--fixed-ns {
        table-layout: fixed;
        width: 100%;
    }
}

 .fw2 {
     font-weight: 200;
}
.fw3 {
    font-weight: 700;
}
.w-50-ns {
    width: 50%;
}
.top50{
  top: 50%
}
.left50:{
  left: 50%
}
 .lh-copy {
     line-height: 1.5;
}
 .black-90 {
     color: rgba(0, 0, 0, .9);
}
 .black-50 {
     color: rgba(0, 0, 0, .5);
}
 .white-80 {
     color: rgba(255, 255, 255, .8);
}
 .bg-near-black {
     background-color: #111;
}
 .hover-gold:hover {
     color: #faad3f;
}
 .hover-gold:focus {
     color: #faad3f;
}
 .hover-light-purple:hover {
     color: #a463f2;
}
 .hover-light-purple:focus {
     color: #a463f2;
}
 .hover-green:hover {
     color: #19a974;
}
 .hover-green:focus {
     color: #19a974;
}
.hover-logo-green:focus {
    color: rgb(224, 247, 238);
}
.hover-logo-blue:focus {
    color: rgb(219, 242, 248);
}
.hover-logo-green:hover {
    color: rgb(224, 247, 238);
}
.hover-logo-blue:hover {
    color: rgb(219, 242, 248);
}
 .ph4 {
     padding-left: 2rem;
     padding-right: 2rem;
}
.ph2 {
    padding-left: .5rem;
    padding-right: .5rem;
}
.outline {
    outline: 1px solid;
}
.helvetica {
    font-family: 'helvetica neue', helvetica, sans-serif;
}
.fw9 {
    font-weight: 900;
}

.lh-solid {
    line-height: 1;
}

.lh-title {
    line-height: 1.25;
}
.pa4 {
    padding: 2rem;
}
 .mt0 {
     margin-top: 0;
}
.mw9 {
    max-width: 96rem;
}

 .mv3 {
     margin-top: 1rem;
     margin-bottom: 1rem;
}
 .tc {
     text-align: center;
}
 .f3 {
     font-size: 1.5rem;
}
.f1-5 {
  font-size: 2.75rem;
}
.f2 {
  font-size: 2.25rem;
}
 .f5 {
     font-size: 1rem;
}
 .i {
     font-style: italic;
}
 .red {
     color: #ffcc99;
}
.pl5 {
    padding-left: 4rem;
}
.pl8 {
    padding-left: 19rem;
}
.pl3 {
    padding-left: 3rem;
}
.pl2 {
    padding-left: 2rem;
}
.list {
    list-style-type: none;
}

.pl6 {
    padding-left: 5.5rem;
}
.pl10 {
    padding-left: 10rem;
}
 @media screen and (min-width: 30em) and (max-width: 60em) {
   .pa4-m {
        padding: 2rem;
    }
    .w-third-m {
       width: calc(100% / 3);
   }

    .pr2-m {
        padding-right: .5rem;
    }

    .pv6-m {
        padding-top: 8rem;
        padding-bottom: 8rem;
    }

    .mb0-m {
        margin-bottom: 0;
    }

    .mt3-m {
        margin-top: 1rem;
    }
     .f2-m {
         font-size: 2.25rem;
    }
     .w-50-m {
         width: 50%;
    }
     .f4-m {
         font-size: 1.25rem;
    }

    .w-100-m {
        width: 100%;
    }

    .pl0-m {
        padding-left: 0;
    }

    .pr0-m {
        padding-right: 0;
    }

    .ph5-m {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .mt4-m {
        margin-top: 2rem;
    }

    .f3-m {
        font-size: 1.5rem;
    }
    .mt3-m {
        margin-top: 1rem;
    }
    .pv7-l {
       padding-top: 16rem;
       padding-bottom: 16rem;
   }
}
 @media screen and (min-width: 60em) {
   .bb-l {
        border-bottom-style: solid;
        border-bottom-width: 1px;
    }

    .db-l {
        display: block;
    }

    .w-25-l {
        width: 25%;
    }

    .w-50-l {
        width: 50%;
    }

    .w-75-l {
        width: 75%;
    }

    .pa5-l {
        padding: 4rem;
    }

    .pl0-l {
        padding-left: 0;
    }

    .pl3-l {
        padding-left: 1rem;
    }

    .pl4-l {
        padding-left: 2rem;
    }


    .pr0-l {
        padding-right: 0;
    }

    .pr2-l {
        padding-right: .5rem;
    }

    .pr3-l {
        padding-right: 1rem;
    }

    .pr4-l {
        padding-right: 2rem;
    }

    .pt0-l {
        padding-top: 0;
    }

    .pv3-l {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .pv6-l {
        padding-top: 8rem;
        padding-bottom: 8rem;
    }

    .pv7-l {
        padding-top: 16rem;
        padding-bottom: 16rem;
    }

    .ph2-l {
        padding-left: .5rem;
        padding-right: .5rem;
    }

    .mb0-l {
        margin-bottom: 0;
    }

    .mb4-l {
        margin-bottom: 2rem;
    }

    .mt5-l {
        margin-top: 4rem;
    }


    .f2-l {
        font-size: 2.25rem;
    }
     .f1-l {
         font-size: 3rem;
    }
     .f3-l {
         font-size: 1.5rem;
    }
     .w-20-l {
         width: 20%;
    }

    .pl2-l {
        padding-left: .5rem;
    }
    .ph0-l {
        padding-left: 0;
        padding-right: 0;
    }

    .f5-l {
        font-size: 1rem;
    }

    .pr2-l {
        padding-right: .5rem;
    }
    .ph3-l {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .ph6-l {
        padding-left: 8rem;
        padding-right: 8rem;
    }

    .f1-l {
        font-size: 3rem;
    }

    .f2-l {
        font-size: 2.25rem;
    }

    .pv6-l {
        padding-top: 8rem;
        padding-bottom: 8rem;
    }
}
 .react-tabs__tab-list {
     border-bottom: 1px solid #aaa;
     margin: 0 0 10px;
     padding: 0;
}
 .react-tabs__tab {
     display: inline-block;
     border: 1px solid transparent;
     border-bottom: none;
     bottom: -1px;
     position: relative;
     list-style: none;
     padding: 6px 12px;
     height: auto;
     cursor: pointer;
}
 .react-tabs__tab--selected {
     background: #fff;
     border-color: #aaa;
     color: black;
     border-radius: 5px 5px 0 0;
}
 .react-tabs__tab--disabled {
     color: GrayText;
     cursor: default;
}
 .react-tabs__tab:focus {
     box-shadow: 0 0 5px hsl(208, 99%, 50%);
     border-color: hsl(208, 99%, 50%);
     outline: none;
}
 .react-tabs__tab:focus:after {
     content: "";
     position: absolute;
     height: 5px;
     left: -4px;
     right: -4px;
     bottom: -5px;
     background: #fff;
}
 .react-tabs__tab-panel {
     display: none;
}
 .react-tabs__tab-panel--selected {
     display: block;
}
